.styles {
  padding: 20px;
  height: auto;
  width: 20%;
}
.button input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 1px solid red;
}

.borderClass{
    border-color: #C1E0FF;
    border-width:1px;
    border-style: solid;
    border-radius: 2px;
    /** OR USE INLINE
    border: 1px solid #C1E0FF;
    **/
  }
